<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DELIVERY CUSTOMER</title>
    <link rel="stylesheet" href="/leaflet/leaflet.css">
    <link rel="stylesheet" href="/esri-leaflet-geocoder/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="css/shared.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet-src.js"></script>
    <script src="/esri-leaflet/esri-leaflet.js"></script>
    <script src="/esri-leaflet-geocoder/esri-leaflet-geocoder.js"></script>
    <script src="js/customer.js" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" defer />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js" defer></script>
  </head>

  <style>
    #customerDetails {
        width: 50%;
        float: left;
    }
    #recieverDetails {
        width: 50%;
        float: right;
    }
  </style>


  <body>
    <a href="/" target="_blank">Open another customer view</a> |
    <a href="/dispatcher" target="_blank">Open dispatcher view</a> |
    <a href="/driver" target="_blank">Open driver view</a>
    <h1>
      DELIVERY CUSTOMER
    </h1>
    <p>Select pickup location first, then your parcel's destination</p>
    <div id="page">
      <div id="my-map"></div><br>

      <br><br>

      <form id="customerDetails">
        <h2>Sender details</h2>
        <ul>
          <li>
            <label>Name</label> <br>
            <input type="text" required>
          </li>
          <li>
            <label>E-Mail</label> <br>
            <input type="email" name="email" required=""><br>
          </li>
          <li>
            <label>Express Delivery</label> <br>
            <input type="checkbox" v-model="express" @change="moveMarker" name="express" value="express">Check this box
            for
            express delivery!
            <br>
            <br>
          </li>
          <li>
            <select class="paymentOptions" required>
              <option value="Bank Card">Bank Card</option>
              <option value="Klarna">Klarna</option>
              <option value="Credit Card">Credit Card</option>
              <option value="Swish">Swish</option>
            </select>
          </li>
          <li>
            <label>Order detail</label> <br>
            <input type="text">
          </li>
          <li>
            <label>Phone number</label> <br>
            <input type="number" required>
          </li>
          <li>
            <label>Adress for pickup</label> <br>
            <input type="text" required>
          </li>
          <li>
            <label>Date for pick up</label> <br>
            <input type="date" id="datePicker" required>
          </li>
          <li>
            <label>Package volume</label> <br>
            <input type="number" placeholder="Liter" v-model="spaceRequired" >
          </li>
          <li>
            <label>Package weight</label> <br>
            <input type="number" placeholder="Grams" v-model="totalGrams" >
          </li>
          <li>
            <label>Driver instructions</label> <br>
            <input type="text" placeholder="Instructions about the package" v-model="driverInstructions">
          </li>
          <li>
            <input type="submit">
          </li>
        </ul>
      </form>
      <form id="recieverDetails">
        <h2>Reciever details</h2>
        <ul>
          <li>
            <label>Reciever name</label> <br>
            <input type="text" required>
          </li>
          <li>
            <label>Reciever e-mail</label> <br>
            <input type="email" name="email" required=""><br>
          </li>
          <li>
            <label>Phone number</label> <br>
            <input type="number" required>
          </li>
          <li>
            <label>Adress for delivery</label> <br>
            <input type="text" required>
          </li>
        </ul>
      </form>
      <button v-on:click="placeOrder">ORDER DELIVERY</button>
      Your order number is {{ orderId }}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <script>
      $(document).ready(function () {
          // Set restriction on the date
          var now   = new Date();
          var day   = ("0" + now.getDate()).slice(-2);
          var month = ("0" + (now.getMonth() + 1)).slice(-2);
          var today = now.getFullYear() + "-" + (month) + "-" + (day);

          var monthVar = (now.getMonth() + 2);
          var maxMonth = ("0" + (monthVar%12)).slice(-2);
          var max   = now.getFullYear() + "-" + (maxMonth) + "-" + (day);

          if((monthVar) > 12)
              max = (now.getFullYear()+1) + "-" + (maxMonth) + "-" + (day);


          $("#datePicker").attr({
              "value" : today,
              "max"   : max,
              "min"   : today,
          });
      });

    </script>

  </body>

</html>
