<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DELIVERY DISPATCHER</title>
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/dispatcher.css">
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="js/dispatcher.js" defer></script>
  </head>
  <body>
    <div id="page">
      <div id="orderColumns">
        <div id="my-map"></div>
        <div id="field">
          <span style="grid-column: 2; display: flex; justify-content: center; align-items: center;">ID</span>
          <span style="grid-column: 3; display: flex; justify-content: center; align-items: center;">From</span>
          <span style="grid-column: 4; display: flex; justify-content: center; align-items: center;">To</span>
          <span style="grid-column: 5; display: flex; justify-content: center; align-items: center;">Express</span>
        </div>
        <div id="fieldPackages">
          <div v-for="order in orders">
            <div v-if="order.orderDetails.origin === 0" v-bind:class="{ pickedUp: order.orderDetails.status === 2, waitingForPickup: order.orderDetails.status === 1, order: true }">
              <div v-if="order.orderDetails.status === 1" style="grid-column 1 / 1; display: flex; justify-content: center;">
                🕒
              </div>
              <div v-else-if="order.orderDetails.status === 2" style="grid-column 1 / 1; display: flex; justify-content: center;">
                🚗
              </div>
              <input v-else="" style="grid-column 1 / 1; display: flex; justify-content: center;" type="checkbox" name="fieldOrdersCheckbox" v-on:click="adjustFieldPackages"></input>
              <span style="grid-column: 2 / 2;">{{ order.orderId }}</span>
              <span style="grid-column: 3 / 3;">{{ order.orderDetails.senderAddress }}➞<br></span>
              <span style="grid-column: 4 / 4;">{{ order.orderDetails.express ? order.orderDetails.receverAddress : "Lager" }}<br></span>
              <span style="grid-column: 5 / 5;"><b>{{ order.express ? "Express" : "" }}</b><br><br></span>
            </div>
          </div>
        </div>
        <div id="storage">
          <span style="grid-column: 2; display: flex; justify-content: center; align-items: center;">ID</span>
          <span style="grid-column: 3; display: flex; justify-content: center; align-items: center;">From</span>
          <span style="grid-column: 4; display: flex; justify-content: center; align-items: center;">To</span>
        </div>
        <div id="inStorage">
          <div v-for="order in orders">
            <div v-if="order.orderDetails.origin === 1" v-bind:class="{ pickedUp: order.orderDetails.status === 2, waitingForPickup: order.orderDetails.status === 1, order: true }">
              <div v-if="order.orderDetails.status === 1" style="grid-column 1 / 1; display: flex; justify-content: center;">
                🕒
              </div>
              <div v-else-if="order.orderDetails.status === 2" style="grid-column 1 / 1; display: flex; justify-content: center;">
                🚗
              </div>
              <input v-else="" style="grid-column 1 / 1; display: flex; justify-content: center;" type="checkbox" name="fieldOrdersCheckbox" v-on:click="adjustStoragePackages"></input>
              <span style="grid-column: 2 / 2;">{{ order.orderId }}</span>
              <span style="grid-column: 3 / 3;">{{ order.orderDetails.senderAddress }}</span>
              <span style="grid-column: 4 / 4;">{{ order.orderDetails.receverAddress }}</span>
            </div>
          </div>
        </div>
        <div id="driver0">Available drivers</div>
        <div id="cars0">
          <div v-for="driver in drivers" class="driv">
            <input type="radio" name="fieldDrivers" v-on:click="adjustSelectedFieldCar"></input>
            <span>{{ driver.driverId }}</span>:
            <span> {{ driver.usedCapacity }}/{{ driver.maxCapacity }}</span>
          </div>
        </div>
        <button v-bind:class="{ confirmcar: selectedFieldPackages.length > 0 && selectedFieldCar, disabledButton: selectedFieldPackages.length == 0 || !selectedFieldCar }"
                v-on:click="assignFieldDriver">Confirm</button>
        <div id="driver1">Available drivers</div>
        <div id="cars1">
          <div v-for="driver in drivers" class="driv">
            <input type="radio" name="storageDrivers" v-on:click="adjustSelectedStorageCar"></input>
            <span>{{ driver.driverId }}</span>:
            <span> {{ driver.usedCapacity }}/{{ driver.maxCapacity }}</span>
          </div>
        </div>
        <button v-bind:class="{ confirmcar: selectedStoragePackages.length > 0 && selectedStorageCar, disabledButton: selectedStoragePackages.length == 0 || !selectedStorageCar }"
                style="grid-row: 4"
                v-on:click="assignStorageDriver">Confirm</button>
      </div>
    </div>
  </body>
</html>
