<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DRIVER</title>
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/driver.css">
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="js/driver.js" defer></script>
  </head>

  <style>

  </style>


  <body>
    <div id="page">
    <div class="menubar">
      <span id="driver">DRIVER {{ driverId }} </span>
      <span id="capacity"> Capacity : {{usedCapacity}}/{{maxCapacity}} </span>

      <!--<a href="/" target="_blank">Customer view</a>
      <a href="/dispatcher" target="_blank">Dispatcher view</a>
      <a href="/driver" target="_blank">Driver view</a>-->
    </div>



      <!--<h1 id="driverid">
        DRIVER #{{ driverId }}
      </h1>-->

      <!-- <p>Click in the map to position your truck and click again or drag the icon to move.</p> -->
      <div id="my-map"></div>
      <br><br>
      <!--  Specify your truck's cargo capacity (feel free to choose a reasonable unit of measurement): <input type="textfield" v-model="maxCapacity" @change="updateDriver"/> -->



      <ul id="orderinfo">
        <div v-for="(order,costumerId) in orders" v-if="order.driverId == driverId">
          <!--  {{order}}
                # {{ order.orderId}} From: {{ order.fromLatLong[0].toFixed(3) }}, {{ order.fromLatLong[1].toFixed(3) }} Destination: {{ order.destLatLong[0].toFixed(3) }}, {{ order.destLatLong[1].toFixed(3) }} Express/Processed: {{ order.expressOrAlreadyProcessed ? "Yes" : "No" }}
-->
          <ul>
            <li v-for="(detail, key) in order.orderDetails">
              {{ key + ": " + detail }}
            </li>
          </ul>
          <button class="pickUpDeliv" :id="costumerId+'pickUp'" v-on:click="orderPickedUp(order)" v-if="order.handled !== true" >Picked up!</button>
          <button v-on:click="orderDroppedOff(order)" v-if="order.handled === true">Dropped off!</button>
        </div>
      </ul>

      <div id="orderbox">
        <div v-for="order in orders">
          <button v-on:click="togglePackageInfo" class="collapsible"> Rackarberget ➝ Lager </button>
          <div class="content">
            <button class=driverButtons> Picked up package! </button>
            <button class=driverButtons> Dropped off package! </button>
            <button class=driverButtons> Call customer </button>
            <button class=driverButtons> Call supervisor </button>
          </div>
        </div>
      </div>
      <!--  <div v-if="driverLocation">Utilized capacity: {{ usedCapacity }}/{{ maxCapacity }}</div> -->

      <!--<button v-on:click="quit">Quit</button>-->




    </div>
    <script>
      // v-bind:style="{ visibility: computeVisibility }"
    </script>

  </body>
</html>
