<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DRIVER</title>
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/driver.css">
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="js/driver.js" defer></script>
  </head>
  <style>
  </style>
  <body>
    <div id="page">
      <div class="menubar">
        <span id="driver">DRIVER {{ driverId }} </span>
        <span id="capacity"> Capacity : {{usedCapacity}}/{{maxCapacity}} </span>
      </div>
      <div id="my-map"></div>
      <br><br>
      <ul id="orderinfo">
        <div v-for="(order,costumerId) in orders" v-if="order.driverId == driverId">
          <ul>
            <li v-for="(detail, key) in order.orderDetails">
              {{ key + ": " + detail }}
            </li>
          </ul>
          <button class="pickUpDeliv" :id="order.orderId" v-on:click="orderPickedUp(order)" v-if="order.handled !== true" >Picked up!</button>
          <button v-on:click="orderDroppedOff(order)" v-if="order.handled === true">Dropped off!</button>
        </div>
      </ul>

      <div id="orderbox">
        <div v-for="order in orders">
          <div v-if="order.driverId === this.driverId">
            <button v-on:click="togglePackageInfo" class="collapsible">
              {{ order.orderDetails.origin === 0 ? order.orderDetails.senderAddress : "Lager" }} ➝
              {{ order.orderDetails.origin === 0 ? (order.orderDetails.express ? order.receverAddress : "Lager" ) : order.orderDetails.receverAddress }}</button>
            <div class="content">
              <button class="driverButtons" v-on:click="orderPickedUp(order)"> Picked up package! </button>
              <button class="driverButtons" v-on:click="orderDroppedOff(order)"> Dropped off package! </button>
              <button class="driverButtons"> Call customer </button>
              <button class="driverButtons"> Call supervisor </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
    </script>
  </body>
</html>
