body {
    background-color: #E8F4F8;
    font-family: Roboto, sans-serif;
}

#orderColumns {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: 10vh 75vh;
    width: 93%;
    margin: 0 auto;
    grid-column-gap: 1%;
}

#orderColumns > #field {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
    background-color: ;
    font-size: 200%;
    font-weight: bold;
    z-index: 1;
}

#orderColumns > #car {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
    background-color: ;
    font-size: 200%;
    font-weight: bold;
    z-index: 1;
}

#orderColumns > #storage {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    grid-row: 1;
    background-color: ;
    font-size: 200%;
    font-weight: bold;
    z-index: 1;
}

#fieldPackages {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    overflow-y: scroll;
    background-color: #8aacb8;
    padding-top: 5%;
}

#inCar {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    overflow-y: scroll;
    background-color: #8a96b8;
    padding-top: 5%;
}

#inStorage {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    overflow-y: scroll;
    background-color: #8ab8ac;
    padding-top: 5%;
}

.order {
    background-color: #eee;
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-style: solid;
    border-color: #ddd;
    border-width: 2px;
}

.order > div {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.boxshadow {
grid-column: 1;
grid-row: 2;
box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2) inset;
z-index: 1;
pointer-events: none;
}
