body {
    background-color: #E8F4F8;
    font-family: Roboto, sans-serif;
}

#orderColumns {
    display: grid;
    grid-template-columns: 35vw 15vw 40vw;
    grid-template-rows: 5vh 40vh 5vh 40vh;
    width: 93%;
    margin: 0 auto;
    grid-column-gap: 1%;
}

#orderColumns > #field {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
    background-color: ;
    font-size: 100%;
    font-weight: bold;
    z-index: 1;
}

#orderColumns > #storage {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 3;
    background-color: ;
    font-size: 100%;
    font-weight: bold;
    z-index: 1;
}

#fieldPackages {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    overflow-y: scroll;
    background-color: #8aacb8;
    padding-top: 2.5%;
}

#inStorage {
    grid-column: 1 / 1;
    grid-row: 4 / 4;
    overflow-y: scroll;
    background-color: #8ab8ac;
    padding-top: 2.5%;
}

.order {
    display: inline-grid;
    height: 30px;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 100%;
    background-color: #eee;
    width: 95%;
    border-style: solid;
    border-color: #ddd;
    border-width: 2px;
    margin-left: 2.5%;
}

.order > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.driv {
    height: 30px;
    background-color: #eee;
    width: 90%;
    border-style: solid;
    border-color: #ddd;
    border-width: 2px;
    margin-left: 5%;
}

.boxshadow {
    grid-column: 1;
    grid-row: 2;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2) inset;
    z-index: 1;
    pointer-events: none;
}

#cars0 {
    grid-column: 2;
    grid-row: 2;
    overflow-y: scroll;
    background-color: #8aacb8;
    height: 90%;
}

#cars1 {
    grid-column: 2;
    grid-row: 4;
    overflow-y: scroll;
    background-color: #8ab8ac;
    height: 90%;
}

.boxshadow2 {
    grid-column: 1;
    grid-row: 2;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2) inset;
    z-index: 1;
    pointer-events: none;
    height: 90%;
}

#driver0 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
    background-color: ;
    font-size: 100%;
    font-weight: bold;
    z-index: 1;
}

#driver1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 3;
    background-color: ;
    font-size: 100%;
    font-weight: bold;
    z-index: 1;
}

.confirmcar {
    grid-column: 2;
    grid-row: 2;
    background-color: #eee;
    height: 10%;
    width: 100%;
    margin-top: auto;
}

#my-map {
    grid-column: 3;
    grid-row: 2 / -1;
    height: 100%;
    width: 100%;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
