*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/*
button, input {
    overflow: visible;
} */

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffffde;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}


/* .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}
 */


.custom-select.is-invalid, .was-validated .custom-select:invalid {
    border-color: #dc3545;
    padding-right: calc((1em + .75rem) * 3 / 4 + 1.75rem);
}

.w-100 {
    width: 100%!important;
}
.d-block {
    display: block!important;
}


/* .custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
} */

/*
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
} */







.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select {
    word-wrap: normal;
}
button, select {
    text-transform: none;
}

select:not(:-internal-list-box) {
    background-color: #ddd;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

select {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}









.order-md-1 {
    position: absolute !important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

form {
    display: block;
    margin-top: 0em;
}


.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
    border-color: #f1f1f145;
}




@media (min-width: 768px) {
    .order-md-2 {
        -ms-flex-order: 2;
        order: 2;
    }
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
    /*width: 200px;*/
}

.mb-4-hor, .my-4-hor {
    margin-bottom: 1.5rem!important;
    /*width: 200px;*/
}

@media (min-width: 768px) {
    .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    }
}

@media (min-width: 768px) {
    .order-md-1 {
        -ms-flex-order: 1;
        order: 1;
    }
}

@media (min-width: 768px) {
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;

    }
}


@media (min-width: 768px) {
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}

@media (min-width: 768px) {
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}


@media (min-width: 980px) {
    .col-md-3 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        /*max-width: 20%;*/
    }

    .mb-4-row, .my-4-row {
        margin-bottom: 1.5rem!important;
        /*width: 200px;*/
        margin-top: 100px;
        visibility: show;
        height: 550px;
        border-color: #f1f1f145;
        margin-left: -1px;
    }
}

@media (min-width: 980px) {
    #my-map {
        width: 40%;
    }
}

@media (min-width: 980px) {
    .order-md-1  {
        POSITION: absolute !important;
        top: 117vh;
        height: 48%;
        left: 48%;
        background-color: #fff;
    }
}

@media (min-width: 980px) {
    .payment {
        left: -22%;
        top: 590px;
        /*margin-top: -145px;*/
        margin-top: 5px;
        text-align: center;
    }

    .payment-cont {
        background-color: white;
        padding: 50px;
        padding-bottom: 0;
        padding-top: 10px;
        margin: -15px;
    }

    .payment-opt {
        padding-left: 18px;
    }

    .split {
        padding-right: 20px !important;
    }

    .packageInfoDiv {
        height: 100%;
    }

    #paymentInfo {
        display: table-caption;
    }

    h3.title {
        margin-right: 95px;
    }

    .needs-validation {
        margin-right: 5px;
    }



}

@media (max-width: 980px) {
    .col-md-8 {
        width: 78vw;
margin: 9%;
    }
}

#envelope {
  height: 34px;
}
#mediumbox {
  height: 37px;
  margin-left: 8%;
}
#bigbox {
   height: 45px;
   margin-left: 8%;
}

.packageimagesboxes{

}

.packageImages{

}





ul {
    padding: 0;
}


#paymentInfo {
    display: inline-flex;
    list-style: none;
    margin-left: -63px;
    width: 97%;
}

#paymentInfo li {
    display: block;
    margin-right: 5px;
    margin: 0 auto;
}


.split-3 {
    display: block;
}

#expressButton {
    position: relative;
    top: 0px;
}


.paymentID {
    width: 80%;
}














.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-8 {
    position: relative;
    /*width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 9px;
        padding-right: 5px;
    /*height: 97%;*/
}



.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}





[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}




.form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
    display: block;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

 .checkbox {
    position: relative;
    top: -0.375rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
  }
  .checkbox::before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: rotate(-45deg) scale(0, 0);
    -moz-transform: rotate(-45deg) scale(0, 0);
    -ms-transform: rotate(-45deg) scale(0, 0);
    -o-transform: rotate(-45deg) scale(0, 0);
    transform: rotate(-45deg) scale(0, 0);
    content: "";
    position: absolute;
    left: 0.1875rem;
    top: 0.125rem;
    z-index: 1;
    width: 0.75rem;
    height: 0.375rem;
    border: 2px solid #007bff;/*#16a085;*/
       border-top-style: none;
    border-right-style: none;
  }
  .checkbox:checked::before {
    -webkit-transform: rotate(-45deg) scale(1, 1);
    -moz-transform: rotate(-45deg) scale(1, 1);
    -ms-transform: rotate(-45deg) scale(1, 1);
    -o-transform: rotate(-45deg) scale(1, 1);
    transform: rotate(-45deg) scale(1, 1);
  }
  .checkbox::after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border: 2px solid #f2f2f2;
    cursor: pointer;
  }

  .radio {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
  }
  .radio::before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    content: "";
    position: absolute;
    top: 0;
    left: 0.125rem;
    z-index: 1;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #007bff;/*#16a085;*/
    border-radius: 50%;
  }
  .radio:checked::before {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .radio::after {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -0.125rem;
    width: 1.2rem;
    height: 1.2rem;
       background: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
  }



  .checkbox:before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: rotate(-45deg) scale(0, 0);
    -moz-transform: rotate(-45deg) scale(0, 0);
    -ms-transform: rotate(-45deg) scale(0, 0);
    -o-transform: rotate(-45deg) scale(0, 0);
    transform: rotate(-45deg) scale(0, 0);
    content: "";
    position: absolute;
    left: 0.1875rem;
    top: 0.125rem;
    z-index: 1;
    width: 0.75rem;
    height: 0.375rem;
    border: 2px solid #007bff;/*#16a085;*/
    border-top-style: none;
    border-right-style: none;
  }

  .checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border: 2px solid #f2f2f2;
    cursor: pointer;
  }
